header {
text-align: center;
background: url("images/bulgaria.jpg");
background-size: cover;
background-position: center;
color: rgba(0, 0, 0, 0.9);
padding: 100px 0 0 0;
}

.blog {
	margin-left: 25%;
	margin-bottom: 5%;
}
.nav {
position: -webkit-sticky;
top: 0;
z-index: 1;
}
.fixed-nav-bar {
position: fixed;
top: 0;
left: 0;
z-index: 9999;
width: 100%;
height: 40px;
background-color: rgba(119, 158, 203, 0.7);
}
li.fixed-nav-bar {
background-color: rgba(42, 128, 0, 0.6);
color: rgba(42, 128, 0, 0.8);
padding: 10px;
}
a.fixed-nav-bar {
background-color: rgba(0, 112, 184, 0.8);
text-decoration: none;
font-size: inherit;
-moz-transition: all 0.2s ease-out 0.2s;
-webkit-transition: all 0.2s ease-out 0.2s;
-o-transition: all 0.2s ease-out 0.2s;
transition: all 0.2s ease-out 0.2s;
}
a {
color: rgba(42, 128, 0, 1);
}
li:hover {
background-color: rgba(42, 128, 0, 0.6);
color: rgba(42, 128, 0, 0.8);
padding: 10px;
font-family: "courier new";
}
a:hover {
text-decoration: none;
  color: rgba(120, 81, 169, 1);
font-family: "courier new";
}
a:active {
color: rgba(42, 128, 0, 0.6);
text-decoration: none;
}
li {
display: inline;
padding: 0 10px 0 10px;
font-color: rgba(255, 255, 255, 1);
}

article {
max-width: 500px;
padding: 20px;
margin: 0 auto;
}
body {
margin: 0;
}
h1 {
font-size: 70px;
color: black;
}
h2 {
font-size: 30px;
max-width: 500px;
padding: 60px 0px 20px 0px;
margin: 0 auto;
}
h3 {
font-size: 20px;
max-width: 500px;
padding: 50px;
margin: 0 auto;
}
#social-buttons button {
color: white;
}
.btn-twitter {
background-color: #00acee;
border-color: #009ad5;
}
.btn-facebook {
background-color: #4868ac;
border-color: #314776;
}
.btn-pinterest {
background-color: #b62f26;
border-color: #b62f26;
}
ul {
padding: 10px;
}

p {
font-size: 15px;
max-width: 500px;
margin: 0 auto;
}
@media (max-width: 500px) {
h1 {
font-size: 36px;
padding: 5px;
}
li {
padding: 5px;
display: inline;
}
p { 
padding: 0 0 0 50px;
display: block;
}
div.img {
margin: 5px;
padding: 5px;
border: 1px solid #0000ff;
height: auto;
width: auto;
float: left;
text-align: center;
} 
div.img img {
display: inline;
margin: 5px;
border: 1px solid #ffffff;
}
div.img a:hover img {
border: 1px solid #0000ff;
}
div.desc {
text-align: center;
font-weight: normal;
width: 120px;
margin: 5px;
}
